location /{{sshtunnel_prefix}} {
  proxy_buffering off;
  proxy_pass http://localhost:{{HTTPTUNNEL_PORT}};
  proxy_read_timeout 10m;
  auth_basic "Restricted";
  auth_basic_user_file {{htpasswd_location}};
}
